<div class="login-wrapper">
    <form class="login" [formGroup]="resetForm">
        <h3 class="welcome">Use this form to reset your password.</h3>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="text" formControlName="email" clrInput placeholder="Your email" />
            </clr-input-container>
        </div>
        <button type="submit" class="btn btn-primary" (click)="resetPassword()">Next </button>
    </form>
</div>
