<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/stocktools/gui.css">
<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/annotations/popup.css">

<!-- <span style="margin: 200px; margin-left: 465px;" class="spinner" *ngIf="candlestickData === undefined" >
    Loading... 
</span> -->
<!-- <span> -->
<!--<clr-spinner *ngIf="candlestickData === undefined" style="margin: 200px; margin-left: 465px;"></clr-spinner> -->
 
<div class="chart_div" #container  class="chart" ></div>
<!-- </span> -->
<!-- </div> -->
<!-- klasa "chart" jest konieczna aby to się trzymało w ryzach -->