<div class="login-wrapper">
    <form class="login" [formGroup]="resetForm">
        <h3 class="title">Set a new password.</h3>
        <h5 class="welcome">Remember that the password should contain a minimum of 8 characters and at least one number</h5>
        <div class="login-group">
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" formControlName="password" clrPassword placeholder="Your new password" />
            </clr-password-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" formControlName="confirmPassword" clrPassword placeholder="Confirmation of new password" />
            </clr-password-container>
         
        </div>
        <button type="submit" class="btn btn-primary" (click)="resetPassword()">Next </button>
    </form>
</div>