<div class="modal" *ngIf="show">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" class="close" type="button" (click)="show = false">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title">Change password</h3>
            </div>

            <div class="modal-body">
                <form clrForm [formGroup]="changeForm">
                    <clr-password-container>
                        <label>Actual password</label>
                        <input placeholder="Actual password" formControlName="oldPassword" clrPassword />
                    </clr-password-container>
                    <clr-password-container>
                        <label>New Password</label>
                        <input placeholder="New password" formControlName="newPassword" clrPassword />
                    </clr-password-container>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="show = false" (click)="changePassword()">Change
                    password</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="show" class="modal-backdrop" aria-hidden="true"></div>