
.modal-title {
    text-align: center;

    color: #000;
    font-size: .916667rem;
    font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    line-height: 1.2rem;
    letter-spacing: normal;
    margin: 0;
    padding: 0 .125rem;
}